<!DOCTYPE html>
<html><head>
<title>{% block title %}IRC Log Viewer{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.0/build/cssreset/reset-min.css"/>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}style.css"/>
{% block extrahead %}{% endblock %}
</head><body>

<p class="account">
{% if user.is_authenticated %}
Halo <strong>{{ user }}</strong> | <a href="{% url irclogview_logout %}">Logout</a></p>
{% else %}
<a href="{% url irclogview_login %}">Login</a>
{% endif %}
</p>

{% block page %}{% endblock %}

</body></html>

